:root {
  --main-text-color: #757575;
  --accent-text-color: #212121;
  --second-text-color: #fff;
  --active-text-color: #2196f3;
  --main-button-color: #2196f3;
}

body {
  font-family: "roboto", "sans-serif";
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*header*/
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
.header-list :hover,
.header-list :focus {
  color: var(--active-text-color);
}

.header .header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-contacts :hover,
.header-contacts :focus {
  color: var(--active-text-color);
}

.header-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--active-text-color);
}

.logo-color-header {
  color: var(--accent-text-color);
}
/*main*/
.hero {
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.button-list {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
}
/*under-hero*/

.uh-title {
  font-style: Bold;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  box-align: left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--accent-text-color);
}

.uh-item {
  font-style: regular;
  font-size: 14px;
  line-height: 1.71;
  line-height: 146%;
  box-align: left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--main-text-color);
}

/*work*/

.paragraph {
  font-style: bold;
  font-size: 36px;
  line-height: 1.16;
  line-height: 100%;
  box-align: centre;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--accent-text-color);
}

/*our-works*/

.works-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
}

.works-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*team*/

.team-title {
  font-style: medium;
  font-size: 16px;
  line-height: 1.18;
  line-height: 100%;
  box-align: center;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--accent-text-color);
}

.team-member {
  font-style: regular;
  font-size: 16px;
  line-height: 1.71;
  line-height: 100%;
  box-align: centre;
  vertical-align: Top;
  letter-spacing: 3%;
  color: var(--main-text-color);
}

/*footer*/
.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--active-text-color);
}

.logo-color-footer {
  color: var(--second-text-color);
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.adr {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list :hover,
.footer-list :focus {
  color: var(--active-text-color);
}
